.welcome {
  display: flex;
  justify-content: center;

 &__logo {
    height: 150px;
  }
}

.insta__logo{
  height: 70px;
}

.paypal {
    padding-bottom: 5rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet adjustments */
@media (max-width: 1024px) {
  .welcome img {
    max-width: 70%;
  }
   .welcome__logo {
    height: 80px;
  }
.insta__logo{
  height: 70px;
}
}

/* Mobile  */
@media (max-width: 768px) {
  .welcome img {
    max-width: 60%;

  }

 .welcome__logo {
    height: 60px;
  }
  .insta__logo{
  height: 50px;
}

  .paypal {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
}


/* Very small mobile (iPhone SE / Mini) */
@media (max-width: 430px) {
  .welcome img {
    max-width: 50%;
    
     .welcome__logo {
    height: 50px;
  }
}
}