.about-container {
    max-width: 700px;
    text-align: center;
    position: relative;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  
  .about-text {
    font-size: 1.2rem;
  }

/* L Laptop */
@media (min-width: 1440px) and (max-width: 2500px) {
.about-text {
    font-size: 1.7rem;
}
  .about-container {
    padding-left: 50px;
    padding-right: 5px;
    padding-top: 20px;
    max-width: 900px;
  }
}

/* Tablet  */
@media (max-width: 1023px) {
  .about-text {
    font-size: 0.9rem;
  }

  .about-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
}

//* L Mobile  */
@media (min-width:425px) and (max-width: 767px) {
  .about-text {
    font-size: 0.55rem;
  }

  .about-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}

/* Mobile  */
@media (max-width: 424px) {
  .about-text {
    font-size: 0.45rem;
  }

  .about-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}
