.footer-container {
    background-color: #3B364D;
    color: #FDF6EF;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer-container {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .footer-container {
    font-size: 0.7rem;
  }
}