.headshot_container {
  margin-top: 1.5rem;
  padding: 0 1rem;
  width: 100vw;
}


/* Desktop - 4 columns (25%) */
@media (min-width: 1025px) {
  .column {
    width: 25%;
  }
}

/* Tablet - 4 columns (25%) */
@media (min-width: 600px) and (max-width: 1024px) {
  .headshot_container {
  width: 50vw;
}
  .column {
    width: 25%;
  }
}

/* Mobile - 2 columns (50%) */
@media (max-width: 599px) {
  .column {
    width: 50%;
  }
}
