.youtube-container {
  max-width: 1200px; /* make container wider */
  margin: 0 auto;
  padding: 1rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 90px;
  left: 150px;
  width: 70%;
  height: 70%;
  border-radius: 8px;
}

/* Tablets */
@media (max-width: 1023px) {
.video-wrapper iframe {
  position: absolute;
  top: 70px;
  left: 150px;
  width: 60%;
  height: 60%;
}
}
/* L Mobile */
@media (max-width: 767px) {

.video-wrapper iframe {
  position: absolute;
  top: 35px;
  left: 80px;
  width: 60%;
  height: 60%;
}
  
}

/* Mobile */
@media (max-width: 424px) {
.video-wrapper iframe {
  position: absolute;
  top: 35px;
  left: 60px;
  width: 60%;
  height: 60%;
}
}