@use "./styles/variables.scss" as *;

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  box-sizing: border-box;
  background-color: #FDF6EF;
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
